page {
	width: 100%;
	height: 100%;
}

.registerBg {
	width: 100%;
	height: 258rpx;
	/* background: linear-gradient(0deg, rgba(231, 28, 90, 0), rgba(253, 60, 133, 1)); */
}

.registerContent {
	width: 690rpx;
	height: 1148rpx;
	background: rgba(255, 255, 255, 1);
	box-shadow: 0px 5rpx 51rpx 0px rgba(172, 117, 138, 1);
	border-radius: 20rpx;
	margin: 0 auto;
}

.namer {
	font-size: 36rpx;
	font-family: PingFang SC;
	font-weight: bold;
	color: rgba(0, 0, 0, 1);
	line-height: 36rpx;
}

.registerName {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 38rpx 0 11rpx;
	border-bottom: 2rpx solid rgba(243, 226, 231, 1);
	margin-left: 29rpx;
	margin-right: 26rpx;
}

.registerName image {
	width: 19rpx;
	height: 34rpx;
}

.registerDetail {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 0 31rpx;
	margin-bottom: 15rpx;
}

.registerDetails {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 17rpx 31rpx 15rpx;
}

.M1 {
	font-size: 24rpx;
	font-family: PingFang SC;
	font-weight: 400;
	color: rgba(0, 0, 0, 1);
}

.M2 {
	font-size: 24rpx;
	font-family: PingFang SC;
	font-weight: 400;
	color: rgba(85, 85, 85, 1);
}

.note,
.another {
	margin-left: 29rpx;
	margin-bottom: 29rpx;
	margin-top: 29rpx;
}

.notes {
	font-size: 24rpx;
	font-family: PingFang SC;
	font-weight: 400;
	color: rgba(0, 0, 0, 1);
	line-height: 32rpx;
}

.fill {
	width: 620rpx;
	height: 60rpx;
	background: rgba(255, 255, 255, 1);
	border: 2rpx solid rgba(153, 153, 153, 1);
	margin-left: 28rpx;
	margin-top: 10rpx;
	padding-left: 16rpx;
}
.fill input::placeholder{
	font-size:21rpx;
	font-family:PingFang SC;
	font-weight:400;
	color:rgba(85,85,85,1);
	line-height:32rpx;
}

